body {
  margin: 0;

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  background: #404040;
  width: 180px;
  height: 380px;
  border-radius: 20px;
  display: block;
  align-items: center;
  justify-content: space-between;
}

.round {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ccc;
  margin: 0 auto;
  margin-top: 5px;

}

h1 {
  color: #fff;
  margin-left: 80px;
}
